@font-face{
    font-family: "cocogoose-pro";
    src: url(./cocogoose-pro.regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Lifehack";
    src: url(./DearType\ -\ Lifehack\ Basic.otf);
    font-weight: normal;
    font-style: normal;
}